
<div class="wrapper">
  <h1>Friends</h1>
  <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Twitter</th>
      <th>Facebook</th>
      <th>Edit</th>
    </tr>

    <% @friends.each do |friend| %>
      <tr>
        <td><%= friend.first_name + " " + friend.last_name %></td>
        <td><%= friend.description %></td>
        <td><%= link_to "Twitter", friend.twitter_url %></td>
        <td><%= link_to "Facebook", friend.facebook_url %></td>
        <td><%= link_to "Edit", edit_friend_path(id: friend.id) %><td>
      </tr>
    <% end %>
  </table>
  <h4><%= link_to "Add a new friend ", friends_new_path %></h4>
  <h4><%= link_to "Add friend from social media ", recent_friends_path %></h4>
</div>
