<h1>Create new contact</h1>

<%= form_for @friend do |f| %>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
  <br>
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
  <br>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <br>
  <%= f.label :phone_number %>
  <%= f.text_field :phone_number %>
  <br>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <br>
  <%= f.label :twitter_url %>
  <%= f.text_field :twitter_url %>
  <br>
  <%= f.label :facebook_url %>
  <%= f.text_field :facebook_url %>
  <br>
  <%= f.submit "Save" %>
<% end %>
